<div class="row">
  <div class="col-md-6">
    <div class="card ">
      <div class="card-header yellow-bg ">
        <span style="font-size: 20px;font-weight:500">Business Assistance</span>
        <button class="btn green-bg btn-md float-right"
          [routerLink]="['/businessapplications-add']">
          <i class="fa fa-plus"> Start Process</i>
        </button>
      </div>
      <div class="card-body text-center">
        <div *ngFor="let rw of businessApplicationList">
          <div class="box p-2 rounded bg-light">
            <div class="row">
              <div class="col-md-6">
                <h3 class="font-weight-light text-black">{{rw.status}}</h3>
              </div>
              <div class="col-md-6">
                <!-- <button *ngIf="rw.status != 'Open' && rw.haspdf != '0'"
                  class="btn btn-sm red-bg"
                  (click)="downloadBusinessFile(rw)"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Download PDF">
                  <i class="fa fa-file-pdf"> Download</i>
                </button> -->
                <button *ngIf="rw.status === 'Open'"
                  class="btn btn-sm blue-bg"
                  (click)="editBusinessRecord(rw.id)"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Edit"> <i class="fa fa-edit"> Edit</i>
                </button>
                <button *ngIf="rw.status === 'Open'"
                  class="btn btn-sm green-bg"
                  (click)="openSubmitBusinessApplicationPopup(rw,submitBusinessApplicationTemp)"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Submit"> <i class="fa fa-check"> Submit</i>
                </button>
                <!-- <button class="btn btn-sm btn-dfa-light">Delete</button> -->
              </div>
            </div>
          </div>
          <br>
        </div>
      </div>
      <!-- <div class="card-header yellow-bg">
        <span style="font-size: 20px;font-weight:500">Business Assistance</span>
        <button class="btn green-bg btn-md float-right"
          [routerLink]="['/businessapplications-add']">
          <h5><i class="fa fa-plus"> Start Process</i></h5>
        </button>
      </div>
      <div class="card-body text-center">
      </div>-->
    </div> 
  </div>
  <div class="col-md-6">
    <div class="card ">
      <div class="card-header blue-bg">
        <span style="font-size: 20px;font-weight:500"><span style="color:white;">Emergency Rental Assistance</span></span>
        <button class="btn green-bg btn-sm float-right"
          [routerLink]="['/rentalapplications-add']">
          <i class="fa fa-plus"> Start Process</i>
        </button>
      </div>
      <div class="card-body text-center">
        <div *ngFor="let rw of rentalApplicationList">
          <div class="box p-2 rounded bg-light">
            <div class="row">
              <div class="col-md-6">
                <h4 class="font-weight-light text-black">{{rw.status}}</h4>
              </div>
              <div class="col-md-6">
                <!-- <button *ngIf="rw.status != 'Open' && rw.haspdf != '0'"
                  class="btn btn-sm red-bg"
                  (click)="downloadRentalFile(rw)"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Download PDF">
                  <i class="fa fa-file-pdf"> Download</i>
                </button> -->
                <button *ngIf="rw.status === 'Open'"
                  class="btn btn-sm blue-bg"
                  (click)="editRentalRecord(rw.id)"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Edit"> <i class="fa fa-edit"> Edit</i>
                </button>
                <button *ngIf="rw.status === 'Open'"
                  class="btn btn-sm green-bg"
                  (click)="openSubmitRentalApplicationPopup(rw,submitRentalApplicationTemp)"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Submit"> <i class="fa fa-check"> Submit</i>
                </button>
                <!-- <button class="btn btn-sm btn-dfa-light">Delete</button> -->
              </div>
            </div>
          </div>
          <br>
        </div>

      </div>
    </div>
  </div>
  <!-- <div class="col-md-6">
    <div class="card blue-bg">
      <div class="card-header">
        <span style="font-size: 20px;font-weight:500">Emergency Rental Assistance</span>
        <button class="btn green-bg btn-sm float-right"
          [routerLink]="['/rentalapplications-add']">
          <i class="fa fa-plus"> Start Process</i>
        </button>
      </div>
      <div class="card-body text-center">
        <div *ngFor="let rw of rentalApplicationList">
          <div class="box p-2 rounded bg-light">
            <div class="row">
              <div class="col-md-6">
                <h4 class="font-weight-light text-black">{{rw.status}}</h4>
              </div>
              <div class="col-md-6">
                <button *ngIf="rw.status != 'Open' && rw.haspdf != '0'"
                  class="btn btn-sm red-bg"
                  (click)="downloadBusinessFile(rw)"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Download PDF">
                  <i class="fa fa-file-pdf"> Download</i>
                </button>
                <button *ngIf="rw.status === 'Open'"
                  class="btn btn-sm blue-bg"
                  (click)="editBusinessRecord(rw.id)"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Edit"> <i class="fa fa-edit"> Edit</i>
                </button>
                <button *ngIf="rw.status === 'Open'"
                  class="btn btn-sm green-bg"
                  (click)="openSubmitBusinessApplicationPopup(rw,submitBusinessApplicationTemp)"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Submit"> <i class="fa fa-check"> Submit</i>
                </button>
              </div>
            </div>
          <br>
        </div> 

      </div>
    </div>
  </div>-->
</div>





<ng-template #submitRentalApplicationTemp
  let-modal>
  <div class="modal-header">
    <h4 class="modal-title"
      id="modal-basic-title">
      {{modelConfig.title}}
    </h4>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12">
        <table class="table table-bordered">
          <tr>
            <td width="4%">
              <mat-checkbox class="example-margin"
                formControlName="certify">
              </mat-checkbox>
            </td>
            <td width="96%">
              <p [ngClass]="{'field-has-error': eighthFormGroup.get('certify').hasError('required') }">
                By signing your name, you certify that you are the correct person to fill out this form, that all information presented above is true to the best of your knowledge, and that you are willing to participate in the City of Doral’s Rental Assistance Program. You also certify that you are authorized to submit this form as the Renter of the aforementioned rental property. 
                <br>
                Al firmar su nombre, usted certifica que eres la persona correcta para llenar este formulario, que toda la información presentada anteriormente es fiel a su mejor conocimiento, y que está dispuesto a participar en el Programa de Asistencia de Alquiler de la Ciudad de Doral. También certifica que está autorizado a enviar este formulario como el arrendatario de la propiedad de alquiler antes mencionada.                
              </p>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Certifier Name</label>
                    <input type="text"
                      formControlName="certifier_name"
                      placeholder="Certifier Name"
                      class="form-control">
                  </div>
                </div>
              </div>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-12">
        <button class="btn btn-success"
          (click)="submitRentalApplication()">
          <span *ngIf="!modelConfig.busy">Submit</span>
          <span *ngIf="modelConfig.busy"><i class="fa fa-cog fa-spin"></i> <strong> Submitting...</strong></span>
        </button>
        <button type="button"
          class="btn btn-dark"
          (click)="modal.close('Save click')">Close</button>
      </div>
    </div>
  </div>
</ng-template>


<ng-template #submitBusinessApplicationTemp
  let-modal>
  <div class="modal-header">
    <h4 class="modal-title"
      id="modal-basic-title">
      {{modelConfig.title}}
    </h4>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12">
        <table class="table table-bordered">
          <tr>
            <td width="4%">
              <mat-checkbox class="example-margin"
                formControlName="certify">
              </mat-checkbox>
            </td>
            <td width="96%">
              <p [ngClass]="{'field-has-error': eighthFormGroup.get('certify').hasError('required') }">
                By signing your name, you certify that you are the correct person to fill out this form, that all information presented above is true to the best of your knowledge, and that you are willing to participate in the City of Doral’s Rental Assistance Program. You also certify that you are authorized to submit this form as the Renter of the aforementioned rental property. 
                <br>
                Al firmar su nombre, usted certifica que eres la persona correcta para llenar este formulario, que toda la información presentada anteriormente es fiel a su mejor conocimiento, y que está dispuesto a participar en el Programa de Asistencia de Alquiler de la Ciudad de Doral. También certifica que está autorizado a enviar este formulario como el arrendatario de la propiedad de alquiler antes mencionada.
              </p>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Certifier Name</label>
                    <input type="text"
                      formControlName="certifier_name"
                      placeholder="Certifier Name"
                      class="form-control">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Certifier Title</label>
                    <input type="text"
                      formControlName="certifier_title"
                      placeholder="Certifier Title"
                      class="form-control">
                  </div>
                </div>
              </div>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-12">
        <button class="btn btn-success"
          (click)="submitBusinessApplication()">
          <span *ngIf="!modelConfig.busy">Submit</span>
          <span *ngIf="modelConfig.busy"><i class="fa fa-cog fa-spin"></i> <strong> Submitting...</strong></span>
        </button>
        <button type="button"
          class="btn btn-dark"
          (click)="modal.close('Save click')">Close</button>
      </div>
    </div>
  </div>
</ng-template>