<div class="card">
  <div class="card-body">
    <mat-horizontal-stepper [linear]="true"
      #stepper>

      <!-- Step one start -->
      <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup"
          (ngSubmit)="onStepOneSubmit()">
          <ng-template matStepLabel>Requirements</ng-template>
          <br>
          <span>Display Program Information here</span>
          <hr style="background-color: #bfcced">

          <div class="stepper-button-row">
            <button mat-flat-button
              matStepperNext
              class="btn-dfa-dark">Next</button>
          </div>
        </form>
      </mat-step>
      <!-- Step one end -->

      <!-- Step two start -->
      <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup"
          (ngSubmit)="onStepTwoSubmit()">
          <ng-template matStepLabel>General Applicant Information</ng-template>
          <br>
          <div class="row">
            <div class="col-md-6">
              <p>
                <span class="bolt">Applicant’s Name:</span>
              </p>
              <input class="form-control"
                placeholder="Enter Applicant’s Name ..."
                formControlName="applicant_name">
            </div>
            <div class="col-md-6">
              <p>
                <span class="bolt">Social Security Number:</span>
              </p>
              <input class="form-control"
                placeholder="Enter Applicant's SS# ..."
                rows="4"
                formControlName="applicant_ss_num">
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-6">
              <p>
                <span class="bolt">Co-Applicant’s Name:</span>
              </p>
              <input type="email" class="form-control"
                placeholder="Enter Co-Applicant’s Name ..."
                formControlName="co_applicant_name">
            </div>
            <div class="col-md-6">
              <p>
                <span class="bolt">Social Security Number:</span>
              </p>
                <input class="form-control"
                  placeholder="Enter Co-Applicant's SS# ..."
                  formControlName="co_applicant_ss_num">
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-12">
              <p>
                <span class="bolt">Address:</span>
              </p>
              <input type="email" class="form-control"
                placeholder="Enter Address ..."
                formControlName="address">          
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-6">
              <p>
                <span class="bolt">Email:</span>
              </p>
              <input type="email" class="form-control"
                placeholder="Enter Email ..."
                formControlName="email">
            </div>
            <div class="col-md-6">
              <p>
                <span class="bolt">Phone:</span>
              </p>
                <input class="form-control"
                  placeholder="Enter Phone ..."
                  formControlName="phone">
            </div>
          </div>
          <br>
          <div class="stepper-button-row">
            <button matStepperPrevious
              class="btn-dfa-light"
              mat-flat-button>Back</button>
            <button mat-flat-button
              matStepperNext
              class="btn-dfa-dark">Next</button>
          </div>
        </form>
      </mat-step>
      <!-- Step two end -->

      <!-- Step three start -->
      <mat-step [stepControl]="thirdFormGroup">
        <form [formGroup]="thirdFormGroup"
          (ngSubmit)="onStepThreeSubmit()">
          <ng-template matStepLabel>Household</ng-template>
          <br>
          <div class="row">
            <div class="col-md-4">
              <p>
                <span class="bolt">Household Size (Number of People who live in unit):</span>
              </p>
            </div>
            <div class="col-md-2">
              <input class="form-control"
                placeholder="Enter Household Size ..."
                formControlName="household_size">
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-12">
              <p>
                <span class="bolt">Create add Household Members like Documents</span>
              </p>
            </div>
          </div>
          <div class="stepper-button-row">
            <button matStepperPrevious
              class="btn-dfa-light"
              mat-flat-button>Back</button>
            <button mat-flat-button
              matStepperNext
              class="btn-dfa-dark">Next</button>
          </div>
        </form>
      </mat-step>
      <!-- Step three end -->

      <!-- Step four start -->
      <mat-step [stepControl]="fourthFormGroup">
        <form [formGroup]="fourthFormGroup"
          (ngSubmit)="onStepFourSubmit()">
          <ng-template matStepLabel>Employment</ng-template>
          <br>

          <!-- <div class="row">
            <div class="col-md-12">
              Applicant
            </div>
          </div> -->
          <hr>
          <div class="row">
            <div class="col-md-2">
              <p>
                <span class="bolt">Applicant Name:</span>
              </p>
            </div>
            <div class="col-md-4">
              <input class="form-control"
                placeholder="Enter Applicant Name ..."
                formControlName="name">
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <p>
                <span class="bolt">Name of Employer:</span>
              </p>
            </div>
            <div class="col-md-4">
              <input class="form-control"
                placeholder="Enter Name of Employer ..."
                formControlName="employer">
            </div>
            <div class="col-md-2">
              <p>
                <span class="bolt">Employer Phone:</span>
              </p>
            </div>
            <div class="col-md-4">
              <input class="form-control"
                placeholder="Enter Employer Phone ..."
                formControlName="employer_phone">
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <p>
                <span class="bolt">Employer Address:</span>
              </p>
            </div>
            <div class="col-md-4">
              <input type="email" class="form-control"
                placeholder="Enter Employer Address ..."
                formControlName="employer_address">
            </div>
            <div class="col-md-2">
              <p>
                <span class="bolt">Position:</span>
              </p>
            </div>
            <div class="col-md-4">
              <input class="form-control"
                placeholder="Enter Position ..."
                formControlName="position">
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <p>
                <span class="bolt">Years Employed:</span>
              </p>
            </div>
            <div class="col-md-4">
              <input class="form-control"
                placeholder="Enter Years Employed ..."
                formControlName="years_employed">
            </div>
            <div class="col-md-2">
              <p>
                <span class="bolt">Supervisor:</span>
              </p>
            </div>
            <div class="col-md-4">
              <input class="form-control"
                placeholder="Enter Supervisor ..."
                formControlName="supervisor">
            </div>
          </div>
          <hr>
          <br>
          <div class="stepper-button-row">
            <button matStepperPrevious
              class="btn-dfa-light"
              mat-flat-button>Back</button>
            <button mat-flat-button
              matStepperNext
              class="btn-dfa-dark">Next</button>
          </div>
        </form>
      </mat-step>
      <!-- Step four end -->

      <!-- Step five start -->
      <mat-step [stepControl]="fifthFormGroup">
        <form [formGroup]="fifthFormGroup"
          (ngSubmit)="onStepFiveSubmit()">
          <ng-template matStepLabel>Landlord</ng-template>
          <br>
          <div class="row">
            <div class="col-md-6">
              <p>
                <span class="bolt">Landlord:</span>
              </p>
              <input class="form-control"
                placeholder="Enter Landlord ..."
                formControlName="landlord">
            </div>
            <div class="col-md-6">
              <p>
                <span class="bolt">Authorized Representative:</span>
              </p>
              <input class="form-control"
                placeholder="Enter Authorized Representative ..."
                formControlName="landlord_authorized_representative">
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-6">
              <p>
                <span class="bolt">Landlord Address:</span>
              </p>
              <input class="form-control"
                placeholder="Enter Landlord Address ..."
                formControlName="landlord_address">
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-6">
              <p>
                <span class="bolt">Landlord Email:</span>
              </p>
              <input type="email" class="form-control"
                placeholder="Enter Landlord Email ..."
                formControlName="landlord_email">
            </div>
            <div class="col-md-6">
              <p>
                <span class="bolt">Landlord Phone:</span>
              </p>
                <input class="form-control"
                  placeholder="Enter Landlord Phone ..."
                  formControlName="landlord_phone">
            </div>
          </div>
          <br>
          <div class="stepper-button-row">
            <button matStepperPrevious
              class="btn-dfa-light"
              mat-flat-button>Back</button>
              <button mat-flat-button
              matStepperNext
              class="btn-dfa-dark">Next</button>
          </div>
        </form>
      </mat-step>
      <!-- Step five end -->

      <!-- Step seven start -->
      <mat-step [completed]="isCompletedStepSeven">

        <ng-template matStepLabel>Documents</ng-template>
        <br>

        <div class="row">
          <div class="col-md-12">
            <p>
              <strong class="bolt">Documentation : </strong>Documents uploaded here are only for those related
              application and pre-planning activities. For invoice
              and expenditure related documentation, please upload via the Payment Request module.
            </p>
          </div>
        </div>
        <br>

        <div *ngIf="recordId"
          class="card bg-dfa">
          <div class="card-header">Existing Documents</div>
          <div class="card-body">
            <table id="doctable"
              class="table">
              <tbody *ngIf="applicationEditDocumentData.length === 0">
                <tr>
                  <td colspan="2">
                    No attachments.
                  </td>
                </tr>
              </tbody>
              <tbody *ngIf="applicationEditDocumentData.length > 0">
                <tr *ngFor="let aed of applicationEditDocumentData"
                  style="border-top:none !important">
                  <td>
                    <span>{{aed.document_title}}</span>
                  </td>
                  <td>
                    <span>{{aed.document_type_selection}}</span>
                  </td>
                  <td>
                    <span>{{aed.document}}</span>
                  </td>
                  <td class="text-right">
                    <button type="button"
                      class="btn btn-sm btn-circle"
                      (click)="downloadFile(aed)">
                      <i class="fa fa-download text-success"></i>
                    </button>
                    <button type="button"
                      class="btn btn-sm btn-circle"
                      (click)="deleteDocument(aed.id)">
                      <i class="fa fa-trash text-danger"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="card bg-dfa">
          <div class="card-header">
            Add New documents
            <button class="btn btn-sm btn-rounded btn-success float-right"
              (click)="addDocumentFormRow()">
              <i class="fa fa-plus"></i>
            </button>
          </div>
          <div class="card-body">
            <form (ngSubmit)="onStepFourSubmit()">
              <span *ngIf="documents.length === 0">Click on Plus button to add documents.</span>
              <br>

              <table class="table table-bordered">
                <tr *ngFor="let doc of documents">
                  <td>
                    <select [value]="documentTypes[doc.tempId]"
                      name="documentTypes[doc.tempId]"
                      class="form-control"
                      (change)="onChangeDocumentType(doc.tempId,$event.target.value)">
                      <option value=""
                        hidden>- Select type -</option>
                      <option value="{{opt.value}}"
                        *ngFor="let opt of documentSelectionTypes">
                        {{opt.name}}
                      </option>
                    </select>
                  </td>
                  <td>
                    <input class="form-control"
                      type="text"
                      (change)="onChangeDocumentTitle(doc.tempId,$event.target.value)"
                      [value]="documentTitles[doc.tempId]"
                      name="documentTitles[doc.tempId]"
                      placeholder="Document Title">
                  </td>
                  <td>
                    <div class="col-md-10">
                      <input type="file"
                        class="form-control-file form-control-sm"
                        id="add_file"
                        (change)="handleUpload(doc.tempId,$event)">
                    </div>
                  </td>
                  <td>
                    <button (click)="removeDocumentRow(doc.tempId)"
                      class="btn btn-sm btn-rounded btn-danger">
                      <i class="fa fa-minus"></i>
                    </button>
                  </td>
                </tr>
              </table>

              <br>
              <div class="stepper-button-row">
                <button matStepperPrevious
                  class="btn-dfa-light"
                  mat-flat-button>Back</button>
                <button mat-flat-button
                  matStepperNext
                  class="btn-dfa-dark">Next</button> 
                <!-- <button mat-flat-button
                  *ngIf="seventhFormStatus"
                  matStepperNext
                  class="btn-dfa-dark">Next</button>  -->      
              </div>
            </form>
          </div>
        </div>
      </mat-step>
      <!-- Step seven end -->

      <!-- Step eight start -->
      <mat-step>
        <ng-template matStepLabel>Certification</ng-template>
        <br>

        <div [hidden]="!loading"
          class="alert alert-success"
          style="font-size: 30px;">
          <i class="fa fa-cog fa-spin"></i> Saving ... (Do not refresh or close browser window)
        </div>

        <form [hidden]="loading"
          [formGroup]="eighthFormGroup"
          (ngSubmit)="onStepEightSubmit()">

          <table class="table table-bordered">
            <tr>
              <td width="4%">
                <mat-checkbox class="example-margin"
                  formControlName="certify">
                </mat-checkbox>
              </td>
              <td width="96%">
                <p [ngClass]="{'field-has-error': eighthFormGroup.get('certify').hasError('required') }">
                  I certify ....
                </p>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Certifier Name</label>
                      <input type="text"
                        formControlName="certifier_name"
                        placeholder="Certifier Name"
                        class="form-control">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Certifier Title</label>
                      <input type="text"
                        formControlName="certifier_title"
                        placeholder="Certifier Title"
                        class="form-control">
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          </table>

          <div class="stepper-button-row">
            <button matStepperPrevious
              class="btn-dfa-light"
              mat-flat-button>Back</button>
            <button mat-flat-button
              class="btn-dfa-dark"
              type="submit">Save</button>
            <button mat-flat-button
              class="btn-dark"
              type="button"
              (click)="cancelChanges(discardchanges)">Cancel</button>
          </div>
        </form>

      </mat-step>
      <!-- Step Eight end -->

    </mat-horizontal-stepper>
  </div>
</div>

<ng-template #discardchanges
  let-modal>
  <div class="modal-header">
    <h4 class="modal-title"
      id="modal-basic-title">
      {{modelConfig.title}}
    </h4>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12">
        Are you sure you want to discard all changes and continue ?
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-12">
        <button type="button"
          class="btn btn-success"
          (click)="redirectToApps(true)">Yes</button>
        <button type="button"
          class="btn btn-dark"
          (click)="modal.close('discard')">No</button>
      </div>
    </div>
  </div>
</ng-template>