<div class="card">
  <div class="card-body">
    <mat-horizontal-stepper [linear]="true"
      #stepper>

      <!-- Step one start -->
      <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup"
          (ngSubmit)="onStepOneSubmit()">
          <ng-template matStepLabel>Requirements<br>Requisitos</ng-template>
          <br>
          <div class="card ">
            <div class="card-header blue-bg">
              Doral CARES Emergency Rental Assistance Program
            </div>
            <div class="card-body bg-light">
              <span>The Doral CARES Emergency Rental Assistance Program provides rental assistance to residents of Doral
                who can demonstrate a pressing financial need due to the COVID-19 pandemic. The program provides a
                one-time assistance grant of up to $2,500.00 to help residents cover unpaid rental payments. For
                qualifying residents, rental assistance will be based on one month’s rent up to the maximum grant
                amount. Grant funds will be disbursed first come, first served directly to landlords until funds are
                exhausted. Funds will be paid directly to approved landlords in the form of a grant which must be used
                solely to provide rent forgiveness in the same amount to eligible tenants. Residents must submit a
                completed application online, and provide all required materials to be considered eligible.</span>
            </div>
          </div>
          <div class="card ">
            <div class="card-header blue-bg">
              Programa de asistencia de emergencia para alquiler de Doral CARES
            </div>
            <div class="card-body bg-light">
              <span>El Programa de Asistencia de Emergencia para el Alquiler de Doral CARES brinda asistencia para el
                alquiler a los residentes de Doral que puedan demostrar una necesidad económica urgente debido a la
                pandemia de COVID-19. El programa proporciona una subvención de asistencia única de hasta $ 2,500.00
                para ayudar a los residentes a cubrir los pagos de alquiler impagos. Para los residentes que califiquen,
                la asistencia para el alquiler se basará en el alquiler de un mes hasta el monto máximo de la
                subvención. Los fondos de la subvención se desembolsarán por orden de llegada, primero servido
                directamente a los propietarios hasta que se agoten los fondos. Los fondos se pagarán directamente a los
                propietarios aprobados en forma de subvención que debe utilizarse únicamente para proporcionar la
                condonación del alquiler por la misma cantidad a los inquilinos elegibles. Los residentes deben enviar
                una solicitud completa en línea y proporcionar todos los materiales necesarios para ser considerados
                elegibles.</span>
            </div>
          </div>
          <div class="stepper-button-row">
            <button mat-flat-button
              matStepperNext
              class="btn-dfa-dark">Next / Contiguo</button>
            <!-- <button mat-flat-button
              type="button"
              (click)="saveExit('firstFormGroup')"
              class="btn-info">Save Draft and Exit / Guardar y Salir
            </button> -->
          </div>
        </form>
      </mat-step>
      <!-- Step one end -->

      <!-- Step two start -->
      <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup"
          (ngSubmit)="onStepTwoSubmit()">
          <ng-template matStepLabel>General Applicant Information<br>Información General del Solicitante</ng-template>
          <br>
          <div class="row">
            <div class="col-md-6">
              <p>
                <span class="bolt">Applicant’s Name / Nombre del Solicitante:</span>
              </p>
              <input class="form-control"
                placeholder="Applicant’s Name / Nombre del solicitante"
                formControlName="applicant_name">
            </div>
            <div class="col-md-6">
              <p>
                <span class="bolt">Social Security Number / SS# del Solicitante:</span>
              </p>
              <input class="form-control"
                placeholder="Applicant's SS# / SS# del Solicitante"
                rows="4"
                formControlName="applicant_ss_num">
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-6">
              <p>
                <span class="bolt">Co-Applicant’s Name / Nombre del Solicitante:</span>
              </p>
              <input type="email"
                class="form-control"
                placeholder="Applicant’s Name / Nombre del solicitante"
                formControlName="co_applicant_name">
            </div>
            <div class="col-md-6">
              <p>
                <span class="bolt">Social Security Number / SS# del Solicitante:</span>
              </p>
              <input class="form-control"
                placeholder="Applicant's SS# / SS# del Solicitante"
                formControlName="co_applicant_ss_num">
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-6">
              <p>
                <span class="bolt">Address / Dirección:</span>
              </p>
              <input type="email"
                class="form-control"
                placeholder="Address / Dirección"
                formControlName="address">
            </div>
            <div class="col-md-6">
              <p>
                <span class="bolt">Grant Amount Requested / Cantidad de la Subvencion Solcitada - $2,500 max:</span>
              </p>
              <input class="form-control"
                placeholder="$2,500 max / $2,500 máx"
                formControlName="amount_requested">
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-6">
              <p>
                <span class="bolt">Email / Correo Electrónico:</span>
              </p>
              <input type="email"
                class="form-control"
                placeholder="Email / Correo Electrónico"
                formControlName="email">
            </div>
            <div class="col-md-6">
              <p>
                <span class="bolt">Phone / Teléfono:</span>
              </p>
              <input class="form-control"
                placeholder="Phone / Teléfono"
                formControlName="phone">
            </div>
          </div>
          <br>
          <div class="stepper-button-row">
            <button matStepperPrevious
              class="btn-dfa-light"
              mat-flat-button>Back / Atrás</button>
            <button mat-flat-button
              matStepperNext
              class="btn-dfa-dark">Next / Contiguo</button>
            <button mat-flat-button
              type="button"
              (click)="saveExit('secondFormGroup')"
              class="btn-info">Save Draft and Exit / Guardar y Salir
            </button>
            <button mat-flat-button
              class="btn-dark"
              type="button"
              (click)="cancelChanges(discardchanges)">Cancel / Cancelar</button>
          </div>
        </form>
      </mat-step>
      <!-- Step two end -->

      <!-- Step three start -->
      <mat-step [stepControl]="thirdFormGroup">
        <form [formGroup]="thirdFormGroup"
          (ngSubmit)="onStepThreeSubmit()">
          <ng-template matStepLabel>Household<br>Hogar</ng-template>
          <br>
          <div class="row">
            <div class="col-md-6">
              <div>
                <span class="bolt">Household Size (Number of People who live in unit) /<br>Tamaño del Hogar (Número de
                  personas que viven en la unidad):</span>
              </div>  
            </div>
            <div class="col-md-6">
              <input class="form-control"
                type="number"
                placeholder="Household Size / Tamaño del Hogar"
                formControlName="household_size">
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-6">
              <label>Applicant’s Name / Nombre del Solicitante:</label>
              <input class="form-control"
                type="text"
                value="{{this.secondFormGroup.get('applicant_name').value}}"
                readonly>
            </div>
            <div *ngIf="this.secondFormGroup.get('co_applicant_name').value"
              class="col-md-6">
              <label>Co-Applicant’s Name / Nombre del Solicitante:</label>
              <input class="form-control"
                type="text"
                value="{{this.secondFormGroup.get('co_applicant_name').value}}"
                readonly>
            </div>
          </div>
          <br>
          <div *ngIf="this.thirdFormGroup.get('household_size').value">
            <div class="row">
              <div class="col-md-12">
                <div class="alert alert-success">
                  <span class="bolt">Please list ALL household members currently living at this address / Por favor,
                    enumere TODOS los miembros del hogar que viven actualmente en esta dirección</span>
                </div>
              </div>
            </div>

            <div formArrayName="items"
              *ngFor="let item of thirdFormGroup.get('items').controls; let i = index;">

              <div [formGroupName]="i"
                class="card-body bg-light">

                <div class="row">
                  <div class="col-md-2">
                    <p>
                      <span class="bolt">Name /<br>Nombre:</span>
                    </p>
                  </div>
                  <div class="col-md-4">
                    <input class="form-control"
                      placeholder="Name (Nombre)"
                      type="text"
                      formControlName="name">
                  </div>
                  <div class="col-md-2">
                    <p>
                      <span class="bolt">Age /<br>Edad:</span>
                    </p>
                  </div>
                  <div class="col-md-4">
                    <input class="form-control"
                      type="text"
                      placeholder="Age (Edad)"
                      formControlName="age">
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-2">
                    <p>
                      <span class="bolt">Name of Employer /<br>Nombre del Empleador:</span>
                    </p>
                  </div>
                  <div class="col-md-4">
                    <input class="form-control"
                      type="text"
                      placeholder="Name of Employer / Nombre del Empleador"
                      formControlName="employer">
                  </div>
                  <div class="col-md-2">
                    <p>
                      <span class="bolt">Employer Phone /<br>Teléfono del Empleador:</span>
                    </p>
                  </div>
                  <div class="col-md-4">
                    <input class="form-control"
                      type="text"
                      placeholder="Employer Phone / Teléfono del Empleador"
                      formControlName="employer_phone">
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-2">
                    <p>
                      <span class="bolt">Employer Address /<br>Dirección del Empleador:</span>
                    </p>
                  </div>
                  <div class="col-md-4">
                    <input type="email"
                      class="form-control"
                      type="text"
                      placeholder="Employer Address (Dirección del Empleador)"
                      formControlName="employer_address">
                  </div>
                  <div class="col-md-2">
                    <p>
                      <span class="bolt">Position /<br>Posición:</span>
                    </p>
                  </div>
                  <div class="col-md-4">
                    <input class="form-control"
                      type="text"
                      placeholder="Position / Posición"
                      formControlName="position">
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-2">
                    <p>
                      <span class="bolt">Years Employed /<br>Años Empleado:</span>
                    </p>
                  </div>
                  <div class="col-md-4">
                    <input class="form-control"
                      type="text"
                      placeholder="Years Employed / Años Empleado"
                      formControlName="years_employed">
                  </div>
                  <div class="col-md-2">
                    <p>
                      <span class="bolt">Supervisor /<br>Supervisor:</span>
                    </p>
                  </div>
                  <div class="col-md-4">
                    <input class="form-control"
                      type="text"
                      placeholder="Supervisor / Supervisor"
                      formControlName="supervisor">
                  </div>
                </div>
              </div>

              <br>
            </div>

          </div>

          <div class="stepper-button-row">
            <button matStepperPrevious
              class="btn-dfa-light"
              mat-flat-button>Back / Atrás</button>
            <button mat-flat-button
              matStepperNext
              class="btn-dfa-dark">Next / Contiguo</button>
            <button mat-flat-button
              type="button"
              (click)="saveExit('thirdFormGroup')"
              class="btn-info">Save Draft and Exit / Guardar y Salir
            </button>
            <button mat-flat-button
              class="btn-dark"
              type="button"
              (click)="cancelChanges(discardchanges)">Cancel / Cancelar</button>
          </div>
        </form>
      </mat-step>
      <!-- Step three end -->

      <!-- Step four start -->
      <mat-step [completed]="isCompletedStepFour">

        <ng-template matStepLabel>Landlord Documents<br>Documentos de Propietario</ng-template>
        <br>

        <div class="row">
          <div class="col-md-12">
            <p>
              <strong class="bolt">Documentation / Documentación: </strong>
            </p>
          </div>
        </div>
        <br>
        <div class="card-header">Downloads / Descargas</div>
        <div class="card-body">
          <table id="doctable"
            class="table">
            <tr>
            <tr>
              <td><a
                  href="https://d3dr6irtq668i9.cloudfront.net/templates/City+of+Doral+Landlord+Participation+Agreement+9_28_2020-rev.pdf"
                  download>Landlord Participation Agreement signed by landlord indicating, monthly rent amount, amount
                  owed by applicant, and statement of willingness to participate in the program. </a></td>
              <td><a
                  href="https://d3dr6irtq668i9.cloudfront.net/templates/City+of+Doral+Landlord+Participation+Agreement+9_28_2020-rev.pdf"
                  download>Acuerdo de participación del propietario firmado por el propietario que indica el monto del
                  alquiler mensual, el monto adeuda por el solicitante y una declaración de voluntad de participar en el
                  programa.</a></td>
            </tr>
            <tr>
              <td><a href="https://d3dr6irtq668i9.cloudfront.net/templates/W-9_Blank.pdf"
                  download>W-9 form must be completed, signed and dated by landlord to enable payment. </a></td>
              <td><a href="https://d3dr6irtq668i9.cloudfront.net/templates/W-9_Blank.pdf"
                  download>El arrendador debe completar, firmar y fechar el formulario W-9 para permitir el pago. </a>
              </td>
            </tr>
            <tr>
              <td><a href="https://d3dr6irtq668i9.cloudfront.net/templates/City_of_Doral_Vendor_Registration_Form.pdf"
                  download>Vendor Application must be completed to enable payment.  </a></td>
              <td><a href="https://d3dr6irtq668i9.cloudfront.net/templates/City_of_Doral_Vendor_Registration_Form.pdf"
                  download>Se debe completar la Solicitud de proveedor para permitir el pago.  </a></td>
            </tr>
            <tr>
              <td><a href="https://d3dr6irtq668i9.cloudfront.net/templates/City_of_Doral_Business_Entity_Affidavit.pdf"
                  download>Business Entity Affidavit must be completed, signed, notarized to enable payment, if
                  applicable to a management company.  </a></td>
              <td><a href="https://d3dr6irtq668i9.cloudfront.net/templates/City_of_Doral_Business_Entity_Affidavit.pdf"
                  download>La declaración jurada de la entidad comercial debe completarse, firmarse y certificarse ante
                  notario para permitir el pago, si corresponde, a una empresa de gestión.  </a></td>
            </tr>
          </table>
        </div>
        <div *ngIf="recordId"
          class="card bg-dfa">
          <div class="card-header">Existing Documents / Documentos Existentes</div>
          <div class="card-body">
            <table id="doctable"
              class="table">
              <tbody *ngIf="landlordEditDocumentData.length === 0">
                <tr>
                  <td colspan="2">
                    No Attachments / Sin Adjunto.
                  </td>
                </tr>
              </tbody>
              <tbody *ngIf="landlordEditDocumentData.length > 0">
                <tr *ngFor="let aed of landlordEditDocumentData"
                  style="border-top:none !important">
                  <td>
                    <span>{{aed.document_title}}</span>
                  </td>
                  <td>
                    <span>{{aed.document_type_selection}}</span>
                  </td>
                  <td>
                    <span>{{aed.document}}</span>
                  </td>
                  <td class="text-right">
                    <a type="button"
                      class="btn btn-sm btn-circle"
                      href="{{aed.document_file_url}}"
                      download>
                      <i class="fa fa-download text-success"></i>
                    </a>
                    <button type="button"
                      class="btn btn-sm btn-circle"
                      (click)="deleteLandlordDocument(aed.id)">
                      <i class="fa fa-trash text-danger"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="card bg-dfa">
          <div class="card-header">
            Add New Documents / Agregar Nuevos Documentos
            <button class="btn btn-sm btn-rounded btn-success float-right"
              (click)="addDocumentFormRow('Landlord')">
              <i class="fa fa-plus"></i>
            </button>
          </div>
          <div class="card-body">
            <form (ngSubmit)="onStepFourSubmit()">
              <span *ngIf="landlordDocuments.length === 0">Click on Plus button to add documents / Haga clic en el botón
                Más para agregar documentos.</span>
              <br>

              <table class="table table-bordered">
                <tr *ngFor="let doc of landlordDocuments">
                  <td>
                    <select [value]="landlordDocumentTypes[doc.tempId]"
                      name="landlordDocumentTypes[doc.tempId]"
                      class="form-control"
                      (change)="onChangeLandlordDocumentType(doc.tempId,$event.target.value)">
                      <option value=""
                        hidden>- Select Type / Seleccione Tipo -</option>
                      <option value="{{opt.id}}"
                        *ngFor="let opt of landlordDocumentSelectionTypes">
                        {{opt.document_title}}
                      </option>
                    </select>
                  </td>
                  <td>
                    <input class="form-control"
                      type="text"
                      (change)="onChangeLandlordDocumentTitle(doc.tempId,$event.target.value)"
                      [value]="landlordDocumentTitles[doc.tempId]"
                      name="landlordDocumentTitles[doc.tempId]"
                      placeholder="Document Title / Titulo del Documento">
                  </td>
                  <td>
                    <div class="col-md-10">
                      <input type="file"
                        class="form-control-file form-control-sm"
                        id="add_file"
                        (change)="handleUploadLandlord(doc.tempId,$event)">
                    </div>
                  </td>
                  <td>
                    <button (click)="removeLandlordDocumentRow(doc.tempId)"
                      class="btn btn-sm btn-rounded btn-danger">
                      <i class="fa fa-minus"></i>
                    </button>
                  </td>
                </tr>
              </table>

              <br>
              <div class="stepper-button-row">
                <button matStepperPrevious
                  class="btn-dfa-light"
                  mat-flat-button>Back / Atrás</button>
                <button mat-flat-button
                  matStepperNext
                  class="btn-dfa-dark">Next / Contiguo</button>
                <button mat-flat-button
                  type="button"
                  (click)="saveExit(null)"
                  class="btn-info">Save Draft and Exit / Guardar y Salir
                </button>
                <button mat-flat-button
                  class="btn-dark"
                  type="button"
                  (click)="cancelChanges(discardchanges)">Cancel / Cancelar</button>
              </div>
            </form>
          </div>
        </div>
      </mat-step>
      <!-- Step four start -->


      <!-- Step five start -->
      <mat-step [stepControl]="fifthFormGroup">
        <form [formGroup]="fifthFormGroup"
          (ngSubmit)="onStepFiveSubmit()">
          <ng-template matStepLabel>Landlord<br>Propietario</ng-template>
          <br>
          <div class="row">
            <div class="col-md-6">
              <p>
                <span class="bolt">Landlord / Propietario:</span>
              </p>
              <input class="form-control"
                placeholder="Landlord / Propietario"
                formControlName="landlord">
            </div>
            <div class="col-md-6">
              <p>
                <span class="bolt">Authorized Representative / Representante Autorizado:</span>
              </p>
              <input class="form-control"
                placeholder="Authorized Representative / Representante Autorizado"
                formControlName="landlord_authorized_representative">
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-6">
              <p>
                <span class="bolt">Landlord Address / Dirección del Propietario:</span>
              </p>
              <input class="form-control"
                placeholder="Landlord Address / Dirección del Propietario"
                formControlName="landlord_address">
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-6">
              <p>
                <span class="bolt">Landlord Email / Correo Electrónico del Propietario:</span>
              </p>
              <input type="email"
                class="form-control"
                placeholder="Landlord Email / Correo Electrónico del Propietario"
                formControlName="landlord_email">
            </div>
            <div class="col-md-6">
              <p>
                <span class="bolt">Landlord Phone / Teléfono del Propietario:</span>
              </p>
              <input class="form-control"
                placeholder="Landlord Phone / Teléfono del Propietario"
                formControlName="landlord_phone">
            </div>
          </div>
          <br>
          <div class="stepper-button-row">
            <button matStepperPrevious
              class="btn-dfa-light"
              mat-flat-button>Back / Atrás</button>
            <button mat-flat-button
              matStepperNext
              class="btn-dfa-dark">Next / Contiguo</button>
            <button mat-flat-button
              type="button"
              (click)="saveExit('fifthFormGroup')"
              class="btn-info">Save Draft and Exit / Guardar y Salir
            </button>
            <button mat-flat-button
              class="btn-dark"
              type="button"
              (click)="cancelChanges(discardchanges)">Cancel / Cancelar</button>
          </div>
        </form>
      </mat-step>
      <!-- Step five end -->


      <!-- Step Six start -->
      <mat-step [completed]="isCompletedStepSix">

        <ng-template matStepLabel>Applicant Documents<br>Documentos del Solicitante</ng-template>
        <br>

        <div class="row">
          <div class="col-md-12">
            <p>
              <strong class="bolt">Documentation / Documentación: </strong>
            </p>
          </div>
        </div>
        <br>

        <div *ngIf="recordId"
          class="card bg-dfa">
          <div class="card-header">Existing Documents / Documentos Existentes</div>
          <div class="card-body">
            <table id="doctable"
              class="table">
              <tbody *ngIf="applicantEditDocumentData.length === 0">
                <tr>
                  <td colspan="2">
                    No Attachments / Sin Adjunto.
                  </td>
                </tr>
              </tbody>
              <tbody *ngIf="applicantEditDocumentData.length > 0">
                <tr *ngFor="let aed of applicantEditDocumentData"
                  style="border-top:none !important">
                  <td>
                    <span>{{aed.document_title}}</span>
                  </td>
                  <td>
                    <span>{{aed.document_type_selection}}</span>
                  </td>
                  <td>
                    <span>{{aed.document}}</span>
                  </td>
                  
                  <td class="text-right">
                    <a type="button"
                      class="btn btn-sm btn-circle"
                      href="{{aed.document_file_url}}"
                      download>
                      <i class="fa fa-download text-success"></i>
                    </a>
                    <!-- <button type="button"
                      class="btn btn-sm btn-circle"
                      (click)="{{aed.document_file_url}}">
                      <i class="fa fa-download text-success"></i>
                    </button> -->
                    <button type="button"
                      class="btn btn-sm btn-circle"
                      (click)="deleteApplicantDocument(aed.id)">
                      <i class="fa fa-trash text-danger"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="card bg-dfa">
          <div class="card-header">
            Add New Documents / Agregar Nuevos Documentos
            <button class="btn btn-sm btn-rounded btn-success float-right"
              (click)="addDocumentFormRow('Applicant')">
              <i class="fa fa-plus"></i>
            </button>
          </div>
          <div class="card-body">
            <form (ngSubmit)="onStepSixSubmit()">
              <span *ngIf="applicantDocuments.length === 0">Click on Plus button to add documents / Haga clic en el
                botón Más para agregar documentos.</span>
              <br>

              <table class="table table-bordered">
                <tr *ngFor="let doc of applicantDocuments">
                  <td>
                    <select [value]="applicantDocumentTypes[doc.tempId]"
                      name="applicantDocumentTypes[doc.tempId]"
                      class="form-control"
                      (change)="onChangeApplicantDocumentType(doc.tempId,$event.target.value)">
                      <option value=""
                        hidden>- Select Type / Seleccione Tipo -</option>
                      <option value="{{opt.id}}"
                        *ngFor="let opt of applicantsDocumentSelectionTypes">
                        {{opt.document_title}}
                      </option>
                    </select>
                  </td>
                  <td>
                    <input class="form-control"
                      type="text"
                      (change)="onChangeApplicantDocumentTitle(doc.tempId,$event.target.value)"
                      [value]="applicantDocumentTitles[doc.tempId]"
                      name="applicantDocumentTitles[doc.tempId]"
                      placeholder="Document Title / Titulo del Documento">
                  </td>
                  <td>
                    <div class="col-md-10">
                      <input type="file"
                        class="form-control-file form-control-sm"
                        id="add_file"
                        (change)="handleUploadApplicant(doc.tempId,$event)">
                    </div>
                  </td>
                  <td>
                    <button (click)="removeApplicantDocumentRow(doc.tempId)"
                      class="btn btn-sm btn-rounded btn-danger">
                      <i class="fa fa-minus"></i>
                    </button>
                  </td>
                </tr>
              </table>

              <br>
              <div class="stepper-button-row">
                <button matStepperPrevious
                  class="btn-dfa-light"
                  mat-flat-button>Back / Atrás</button>
                <button mat-flat-button
                  matStepperNext
                  class="btn-dfa-dark">Next / Contiguo</button>
                <button mat-flat-button
                  type="button"
                  (click)="saveExit(null)"
                  class="btn-info">Save Draft and Exit / Guardar y Salir
                </button>
                <button mat-flat-button
                  class="btn-dark"
                  type="button"
                  (click)="cancelChanges(discardchanges)">Cancel / Cancelar</button>
              </div>
            </form>
          </div>
        </div>
      </mat-step>
      <!-- Step Six end -->


      <!-- Step eight start -->
      <mat-step>
        <ng-template matStepLabel>Save<br>Guardar</ng-template>
        <br>

        <form [formGroup]="eighthFormGroup"
          (ngSubmit)="onStepEightSubmit()">

          <table class="table table-bordered">
            <tr>
              <td width="100%">
                <p>Saving your Application does NOT constitute a submission.</p>
                <p>After saving, review the main screen for any items requiring your attention.</p>
                <p>Once all applicable fields have been filled out and at least one (1) of each Required Documents have
                  been uploaded, you will be able to Submit your Application.</p>
                <p>It is important to review your Application, including the attached documents, to ensure correctness
                  and completeness prior to submitting.</p>
              </td>
            </tr>
            <tr>
              <td width="100%">
                <p>Guardar su aplicación no constituye un envío. Después de guardar, revise la pantalla principal en
                  busca de elementos que requieran su atención.</p>
                <p>Una vez que se hayan completado todos los campos aplicables y se haya cargado al menos uno (1) de
                  cada Documento requerido, podrá enviar su solicitud. </p>
                <p>Es importante revisar su solicitud, incluidos los documentos adjuntos, para asegurarse de que sea
                  correcta y esté completa antes de enviarla.</p>
              </td>
            </tr>
          </table>

          <div class="stepper-button-row">
            <button matStepperPrevious
              class="btn-dfa-light"
              mat-flat-button>Back / Atrás</button>
            <button mat-flat-button
              class="btn-dfa-dark"
              type="submit">Save (Guardar)</button>
            <button mat-flat-button
              class="btn-dark"
              type="button"
              (click)="cancelChanges(discardchanges)">Cancel / Cancelar</button>
          </div>
        </form>

      </mat-step>
      <!-- Step Eight end -->

    </mat-horizontal-stepper>
  </div>
</div>

<ng-template #discardchanges
  let-modal>
  <div class="modal-header">
    <h4 class="modal-title"
      id="modal-basic-title">
      {{modelConfig.title}}
    </h4>
  </div>
  <div class="modal-body modal-xl">
    <div class="row">
      <div class="col-md-12">
        Are you sure you want to discard all changes and continue? / <br>
        ¿Está seguro de que desea descartar todos los cambios y continuar?
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-12">
        <button type="button"
          class="btn btn-success"
          (click)="redirectToApps(true)">Yes / Si</button>
        <button type="button"
          class="btn btn-dark"
          (click)="modal.close('discard')">No / No</button>
      </div>
    </div>
  </div>
</ng-template>