.comm-thread-docs {
    display: flex;
    justify-content: space-between;
}

.com-doc-title {
    line-height: 30px;
    padding: 3px 0px;
}

.comm-resp-box {
    background: #eef5f9;
    margin: 5px 5px 5px 0;
    padding: 5px 10px;
    font-size: small;
    cursor: pointer;
    border-radius: 20px;
    line-height: 25px;
    display: inline-block;
    max-width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.comm-resp-docs {
    padding: 10px 0 0;
}

.comm-thread-subject {
    max-width: 280px;
}
