<div class="row comm-resp">
    <div class="col-lg-9">
        <div class="card">
            <div class="card-body"
                *ngIf="responses.length > 0">
                <ul class="list-unstyled mt-2">
                    <li *ngFor="let resp of responses; last as isLast"
                        class="media">
                        <div class="mr-3">{{resp.datecreated * 1000 | date: 'M/dd/yyyy h:mm a'}}</div>
                        <!-- <img class="mr-3" src="../assets/images/users/2.jpg" width="60" alt="Generic placeholder image"> -->
                        <div class="media-body">
                            <h5 class="mt-0 mb-1">
                                <span>{{getCreatedBy(resp)}}</span>
                            </h5>
                            <div> {{ resp.response }} </div>
                            <div class="comm-resp-docs"
                                *ngIf="responseDocs[resp.id]">
                                <ng-container *ngFor="let doc of responseDocs[resp.id]">
                                    <span (click)="downloadFile(doc)"
                                        class="comm-resp-box">
                                        <span><b>{{doc.document_title}} </b> </span>
                                        <span> {{doc.document}}</span>
                                    </span>
                                </ng-container>
                            </div>
                            <hr *ngIf="!isLast">
                        </div>
                    </li>
                </ul>
            </div>
            <div class="card-body"
                *ngIf="responses == 0">
                <div class="card-header text-center">
                    There are no responses.
                </div>
            </div>
        </div>
        <div class="card"
            *ngIf="thread.status != 'Closed'">
            <div class="card-body">
                <form #replyForm="ngForm"
                    id="reply-form"
                    class="mt-3">
                    <div>
                        <section>
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="response">Write a reply</label>
                                                <textarea [(ngModel)]="responseRecord.response"
                                                    name="response"
                                                    id="response"
                                                    rows="3"
                                                    class="form-control"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="card bg-dfa">
                                                <div class="card-header">
                                                    Add New documents
                                                    <button class="btn btn-sm btn-rounded btn-success float-right"
                                                        (click)="addDocumentFormRow()">
                                                        <i class="fa fa-plus"></i>
                                                    </button>
                                                </div>
                                                <div class="card-body">
                                                    <form>
                                                        <span *ngIf="documents.length === 0">Click on Plus
                                                            button to add documents.</span>
                                                        <br>

                                                        <table class="table table-bordered">
                                                            <tr *ngFor="let doc of documents">
                                                                <td>
                                                                    <input class="form-control"
                                                                        type="text"
                                                                        [ngModelOptions]="{standalone: true}"
                                                                        (change)="onChangeDocumentTitle(doc)"
                                                                        [(ngModel)]="documentTitles[doc.tempId]"
                                                                        [name]="documentTitles[doc.tempId]"
                                                                        placeholder="Document title">
                                                                </td>
                                                                <td>
                                                                    <div class="col-md-10">
                                                                        <input type="file"
                                                                            class="form-control-file form-control-sm"
                                                                            id="add_file"
                                                                            (change)="handleUpload(doc.tempId,$event)">
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <button (click)="removeDocumentRow(doc.tempId)"
                                                                        class="btn btn-sm btn-rounded btn-danger">
                                                                        <i class="fa fa-minus"></i>
                                                                    </button>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="card-body">
                        <button type="submit"
                            class="btn btn-success"
                            (click)="saveReply()">
                            Send
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card">
            <div class="card-body">
                <div>
                    <b class="align-top">Subject: </b>
                    <h4 class="card-title d-inline-block comm-thread-subject"> {{thread.subject}}</h4>
                    <span class="badge badge-primary py-1 float-right">{{thread.type}}</span>
                </div>
                <b class="align-top">Details: </b> {{thread.details}}
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12 mt-2 mb-2">
                        <b>Status: </b> <span class="badge py-1"
                            [ngClass]="{'badge-danger':thread.status=='Closed', 'badge-success':thread.status=='Open'}">{{thread.status}}</span>
                        <br>
                        <b>Date Created: </b> {{thread.datecreated * 1000 | date:'M/dd/yyyy h:mm a'}}
                        <br>
                        <b>Created By: </b> <span *ngIf="thread.createdby == 'dfa_admin@mail.com'; else elseBlock">DFA
                            Admin</span>
                        <ng-template #elseBlock>{{thread.createdby}}</ng-template>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div><b class="align-top">App# </b> {{thread.related_applications}}</div>
                <div><b class="align-top">App Title: </b> {{thread.application_title}}</div>
            </div>
        </div>
        <div class="card"
            *ngIf="threadDocs.length">
            <div class="card-body">
                <b>Attachments</b>
                <ng-container *ngFor="let doc of threadDocs">
                    <div class="comm-thread-docs">
                        <div class="com-doc-title">
                            <span><b>{{doc.document_title}} </b></span>
                            <span> {{doc.document}}</span>
                        </div>
                        <div>
                            <button type="button"
                                class="btn btn-sm btn-circle"
                                (click)="downloadFile(doc)">
                                <i class="fa fa-download text-success"></i>
                            </button>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</div>