.logo img {
  /* width: 8rem; */
  height: 75px;
  margin: 25px 0px;
}


.blue-bg {
  background-color: #004990 !important;
}

.reg-box {
  background-color:#010080;
  max-width: 400px;
}

.icon-box {
  border-radius: 3px 0 0 3px !important;
  width: 45px;
}

.btn-auth {
  background: #00b5bf !important;
  border-color: #00b5bf !important;
  color:black !important;
}

.capta {
  background-image: url('/assets/images/capta-background.jpeg');
  color: #ecdb0a;
  text-align: center;
  cursor: default;
}