.logo img {
  width: 8rem;
  height: 200px;
  width:200px;
  margin: 25px 0px;
}

.blue-bg {
  background-color: #bfccec !important;
}

.reg-box {
  background-color:#010080;
  max-width: 400px;
}

.icon-box {
  border-radius: 3px 0 0 3px !important;
  width: 45px;
}

.btn-auth {
  background: #FACD48 !important;
  border-color: #FACD48 !important;
  color:black !important;
}