<div class="card">
  <div class="card-header">
    <button class="btn btn-dfa-dark btn-sm"
      [routerLink]="['/payments/add']">
      <i class="fa fa-plus"></i> Request
    </button>
  </div>

  <div class="card-body">
    <div class="table-responsive">
      <table datatable
        [dtOptions]="dtOptions"
        [dtTrigger]="dtTrigger"
        class="row-border hover">
        <thead>
          <tr>
            <th>Actions</th>
            <th>App #</th>
            <th>Application Title</th>
            <th>Status</th>
            <th>Milestone</th>
            <th>Total Payment Request</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let rw of rows">
            <td>
              <i *ngIf="rw.status === 'Open' || rw.status === 'Rejected'"
                class="fa fa-edit text-info action-btn"
                (click)="editRecord(rw.id)"
                data-toggle="tooltip"
                data-placement="top"
                title="Edit"></i>
              <i *ngIf="rw.validated === 'True' && (rw.status === 'Open' || rw.status === 'Rejected')"
                class="fa fa-check text-success action-btn"
                (click)="openSubmitPRPopup(rw,submitPaymentTemp)"
                data-toggle="tooltip"
                data-placement="top"
                title="Submit">
              </i>
              <i *ngIf="rw.status === 'Submitted' || rw.status === 'Approved' || rw.status === 'Paid'"
                class="fa fa-eye text-warning action-btn"
                (click)="viewPaymentRequest(rw.id)"
                data-toggle="tooltip"
                data-placement="top"
                title="View">
              </i>
            </td>
            <td>{{'APP-'+rw.related_applications}}</td>
            <td>{{rw.application_title}}</td>
            <td>{{rw.status}}</td>
            <td>{{rw.milestone}}</td>
            <td>{{rw.total_payment_request | currency}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>



<ng-template #submitPaymentTemp
  let-modal>
  <div class="modal-header">
    <h4 class="modal-title"
      id="modal-basic-title">
      {{modelConfig.title}}
    </h4>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12">
        Are you sure you want to submit ?
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-12">
        <button class="btn btn-success"
          (click)="submitPR()">
          <span *ngIf="!modelConfig.busy">Submit</span>
          <span *ngIf="modelConfig.busy"><i class="fa fa-cog fa-spin"></i> <strong> Submitting...</strong></span>
        </button>
        <button type="button"
          class="btn btn-dark"
          (click)="modal.close('Save click')">Close</button>
      </div>
    </div>
  </div>
</ng-template>