.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-form-field {
  margin-top: 16px;
}

.stepper-button-row {
  display: table-cell;
  width: 490px;
}

.stepper-button-row .mat-button-base {
  margin: 8px 8px 8px 0;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 26px;
}

.bolt {
  font-weight: 700;
}

.cost-table-header{
  background-color:#33639145
}

label {
  font-weight: 700;
}
#doctable tr:first-child > th, #doctable tr:first-child > td {
    border: none !important;
}