<div class="container">
    <div class="card">
        <div class="card-header bg-dark text-white">
            Home
        </div>
        <div class="card-body bg-light">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <button routerLink="/login" class="btn btn-primary">Login</button>
            <button routerLink="/pre-register" class="btn btn-primary">Pre Register</button>
            <button routerLink="/register" class="btn btn-primary">Register</button>
        </div>
    </div>
</div>