.logo img {
    width: 8rem;
    height: 200px;
    width:200px;
    margin: 25px 0px;
}

.blue-bg {
    background-color: #010080 !important;
    color: white;
    font-size: 12px;
}

.yellow-bg { 
    background-color: #fecd07 !important;
    color: black;
    font-size: 12px;

}