.logo img {
    /* width: 8rem; */
    height: 75px;
    margin: 25px 0px;
}
.logo1 img {
    /* width: 8rem;
    height: 8rem; */
    height: 100px;
    margin: 25px 0px;
}
.blue-bg {
    background-color: #004990 !important;
}

.btn-auth {
    background: #00b5bf !important;
    border-color: #00b5bf !important;
    color:black !important;
}